* {
    font-family: "Nunito Sans", sans-serif;
}

body {
    background-color: #212529 !important;
    /* background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% auto; */
}